<div class="subform">
<div class="page">
<form method="post" action="/gearpost">
	<p>Your Name:</p> <input type="text" name="youname" /></p>
	<p>Your Site:</p><input type="text" name="youlink" /></p>
	<p>Item: <input type="text" name="title" /></p>
	<p>Description:</p>
	<textarea name="description"></textarea><br>
	<p>Image URL: <input type="text" name="imgurl" /></p>
	<p>Shopping link: <input type="text" name="shopurl" /></p>
	<p>Uses: <input type="text" name="uses" /></p>
	<p>What other gear does it interact with? <input type="text" name="interacts" /></p>
	<input type="submit" class="submitbutton"/>
</form>
</div>
</div>

<div class="displayboard">
{{#each gearposts}}
    <div class="page">
	<p>submitted by <a href="{{youlink}}" target="_blank">{{youname}}</a></p>
	<p>{{title}}</p>
	<p><a href="{{shopurl}}" target="_blank"><img src="{{imgurl}}" /></a></p>
	<p>{{description}}</p>
	<p>Uses: {{uses}}</p>
	<p>Interacts with: {{interacts}}</p>
	</div>
{{/each}}
</div>

