<div class="subform">
<div class="page">
<form method="post" action="/kitchenpost">
	<p>Your Name:<input type="text" name="youname" /></p>
	<p>Your Site:<input type="text" name="youlink" /></p>
	<p>Item:<input type="text" name="title" /></p>
	<p>Description of item:</p>
	<textarea name="description"></textarea><br>
	<p>Image URL:<input type="text" name="imgurl" /></p>
	<p>Shopping link:<input type="text" name="shopurl" /></p>
	<p>What do you cook with this?</p>
	<textarea name="foods"></textarea><br>
	<input type="submit" class="submitbutton" />
</form>
</div>
</div>

<div class="displayboard">
{{#each kitchenposts}}
    <div class="page">
	<p>submitted by <a href="{{youlink}}" target="_blank">{{youname}}</a></p>
	<p>{{title}}</p>
	<p><a href="{{shopurl}}" target="_blank"><img src="{{imgurl}}" class="displayimg"/></a></p>
	<p>{{description}}</p>
	<p>This is good for cooking {{foods}}</p>
	</div>
{{/each}}
</div>
