<h2>Wardrobe</h2>

{{#each wardrobeposts}}
	<p>submitted by <a href="{{youlink}}" target="_blank">{{youname}}</a></p>
	<p><em>{{title}}</em></p>
	<p><a href="{{shopurl}}" target="_blank"><img src="{{imgurl}}" /></a></p>
	<p>{{description}}</p>
	<p>Season: {{season}}</p>
	<p>Occasion: {{occasion}}</p>
	<br/>
{{/each}}

<form method="post" action="/kitchenpost/{{_id}}">
	<p>Who are you?</p> <input type="text" name="youname" /></p>
	<p>Link to you?</p><input type="text" name="youlink" /></p>
	<p>Item: <input type="text" name="title" /></p>
	<p>Description:</p>
	<textarea name="description"></textarea><br>
	<p>Image URL: <input type="text" name="imgurl" /></p>
	<p>Shopping link: <input type="text" name="shopurl" /></p>
	<p>Season: <input type="text" name="season" /></p>
	<p>Occasion: <input type="text" name="occasion" /></p>
	<input type="submit" />
</form>